@model AwardViewModel
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-12">

        <h2>Редагування</h2>

        <form asp-action="Update">
            <div class="form">
                <h4>Матеріального заохочення</h4>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label asp-for="Name" class="info-label">Назва матеріального заохочення</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3 text-right">
                        <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                    </div>
                </div>

            </div>
        </form>

        <div>
            <a asp-action="Index">Повернутися до списку матеріальних заохочень</a>
        </div>
    </div>

</div>