@model TradeUnionCommittee.BLL.DTO.DepartmentalDTO
@{
    ViewData["Title"] = "Delete";
}

<div class="row align-items-center">
    <div class="col-md-6">
        <h2>Видалення</h2>

        <h3>Ви впевнені, що хочете видалити відомче?</h3>
    </div>
    <div class="col-md-6 text-right">
        <form asp-action="Delete">
            <input type="submit" value="Видалити" class="btn btn-danger" />
        </form>
    </div>
</div>

<div>
    <hr />
    <input type="hidden" asp-for="Id" />
    <dl class="row">

        <dt class="col-md-3">
            <h6>Місто</h6>
        </dt>
        <dd class="col-md-5">
            <p class="lead" style="font-size: 15px;">@Html.DisplayFor(model => model.City)</p>
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-md-3">
            <h6>Вулиця</h6>
        </dt>

        <dd class="col-md-5">
            <p class="lead" style="font-size: 15px;">@Html.DisplayFor(model => model.Street)</p>
        </dd>
    </dl>

    <dl class="row">

        <dt class="col-md-3">
            <h6>Номер дому</h6>
        </dt>

        <dd class="col-md-5">
            <p class="lead" style="font-size: 15px;">@Html.DisplayFor(model => model.NumberHouse)</p>
        </dd>
    </dl>

    <div class="form-actions no-color">
        <a asp-action="Index">Повернутися до списку відомчих</a>
    </div>

</div>