
@{
    ViewData["Title"] = "Oops";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h3 class="text-danger">Помилка: @ViewBag.Error</h3>
                </div>
            </div>

            <hr />

            <div class="row justify-content-between">
                <div class="form-group col-lg-3"></div>
                <div class="col-md-6 text-right">
                    <a asp-controller=@ViewBag.BackController asp-action=@ViewBag.BackAction class="btn btn-danger">Поверніться і спробуйте ще раз</a>
                </div>
            </div>
        </div>
    </div>
</section>