
@{
    ViewData["Title"] = "Oops";
}

<h1 class="text-danger">Oops</h1>
<h2 class="text-danger">На жаль, під час обробки вашого запиту сталася помилка.</h2>

<a asp-controller=@ViewBag.BackController asp-action=@ViewBag.BackAction>Поверніться і спробуйте ще раз</a>