@model WellnessViewModel
@{
    ViewData["Title"] = "Редагування оздоровлення";
    Layout = "_Layout";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Редагування оздоровлення</h1>
                </div>
            </div>
            <hr>
            <form asp-action="Update">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="row">
                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="Name">Назва оздоровлення</label>
                        <input asp-for="Name" type="text" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="form-group col-lg-3">
                        <div>
                            <a asp-action="Index">Повернутися</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>