@model IEnumerable<TradeUnionCommittee.BLL.DTO.JournalDTO>
@{
    
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Журнал дій користувачів</h1>
                </div>
            </div>
            <hr>
            <div>

                <div class="row" id="formGroup">
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>Email</label>
                        <select asp-items="@ViewBag.Emails" id="email" class="custom-select" required=""></select>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>Дата з</label>
                        <input type="date" id="startDate" class="form-control" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>Дата по</label>
                        <input type="date" id="endDate" class="form-control" required>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-xl-3">
                        <label>&nbsp;</label>
                        <input id="getJournalDataClick" type="submit" value="Знайти" class="btn btn-success btn-default form-control" />
                    </div>
                </div>

            </div>

            <div class="text-center" id="journal-content"></div>

        </div>
    </div>
</section>

@section Scripts
{
    <environment include="Development">
        <script src="~/js/modalDialog.js"></script>
        <script src="~/js/views/journal.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/modalDialog.min.js"></script>
        <script src="~/js/views/journal.min.js"></script>
    </environment>
}