@model QualificationViewModel
@{
    ViewData["Title"] = "UpdateQualification";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">
            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h2>Редагування кваліфікації</h2>
                </div>
            </div>
            <hr>
            <form asp-action="Update">
                <div class="row">

                    <input type="hidden" asp-for="HashId" />

                    <div class="form-group col-lg-4 col-xl-3">
                        <label asp-for="ScientificDegree" class="control-label required">Учений ступiнь</label><br>
                        <select asp-for="ScientificDegree" id="editable-select-LevelEducation" class="custom-select" style="width: 100%" asp-items="@ViewBag.AcademicDegree"></select>
                        <span asp-validation-for="ScientificDegree" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-xl-3">
                        <label asp-for="ScientificTitle" class="control-label required">Наукове звання</label><br>
                        <select asp-for="ScientificTitle" id="editable-select-Study" class="custom-select" asp-items="@ViewBag.ScientificTitle"></select>
                        <span asp-validation-for="ScientificTitle" class="text-danger"></span>
                    </div>

                </div>

                <div class="row justify-content-between">
                    <div class="form-group col-lg-3">
                        <div>
                            <a asp-action="Index" asp-controller="Employee" asp-route-id="@Model.HashId">Повернутися</a>
                        </div>
                    </div>

                    <div class="col-md-6 text-right">
                        <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>