@model TradeUnionCommittee.BLL.DTO.DirectoryDTO
@{
    ViewData["Title"] = "Delete";
}

<div class="row align-items-center">
    <div class="col-md-6">
        <h2>Видалення</h2>

        <h3>Ви впевнені, що хочете видалити подоріж?</h3>
    </div>
    <div class="col-md-6 text-right">
        <form asp-action="Delete">
            <input type="submit" value="Видалити" class="btn btn-danger" />
        </form>
    </div>
</div>

<div>
    <hr />
    <dl class="row">

        <input type="hidden" asp-for="Id" />
        <dt class="col-md-3">
            <h6>Назва подорожі</h6>
        </dt>
        <dd class="col-md-5">
            <p class="lead" style="font-size: 15px;">@Html.DisplayFor(model => model.Name)</p>
        </dd>
    </dl>


    <div class="form-actions no-color">
        <a asp-action="Index">Повернутися до списку подорожей</a>
    </div>

</div>