@model IEnumerable<TradeUnionCommittee.BLL.DTO.DirectoryDTO>
@{
    ViewBag.Title = "Посади";
    Layout = "_Layout";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">
            <div class="row">
                <a asp-controller="Home" asp-action="Directory" class="back-link">Повернутися до списку довідників</a>
                <hr />
                <div class="form-group">
                    <a asp-action="Create" class="btn btn-success">Додати посаду</a>
                </div>
            </div>
            <div class="row main-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Посади
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>

                            <td class="text-right">
                                <a asp-action="Update" asp-route-id="@item.Id">Редагувати</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>