@model TradeUnionCommittee.BLL.DTO.DirectoryDTO
@{
    ViewData["Title"] = "Видалення закладу";
    Layout = "_Layout";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Видалення закладу</h1>
                    <h3 class="text-muted">Ви впевнені, що хочете видалити заклад?</h3>
                </div>
            </div>
            <hr>
            <form asp-action="Delete">

                <input type="hidden" asp-for="HashId" />

                <dl class="row">
                    <dt class="col-md-3">
                        <a>Назва закладу</a>
                    </dt>
                    <dd class="col-md-5">
                        <p class="lead" style="font-size: 15px;">@Model.Name</p>
                    </dd>
                </dl>

                <div class="row justify-content-between">
                    <div class="form-group col-lg-3">
                        <div>
                            <a asp-action="Index">Повернутися</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="submit" value="Видалити" class="btn btn-danger" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>