global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log                     global
  retries                 3
  mode                    tcp
  timeout queue           5s
  timeout connect         10s
  timeout client          5s 
  timeout server          5s
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000 

listen stats
  bind *:8080
  balance
  mode http
  stats enable
  stats uri /
  stats hide-version
  stats auth haproxy:haproxy

listen minio-frontend-backend
  bind *:9000
  mode tcp
  balance roundrobin
  server minio-n01 172.25.1.5:9000 check port 9000 inter 2s rise 2 fall 3
  server minio-n02 172.25.1.6:9000 check port 9000 inter 2s rise 2 fall 3
  server minio-n03 172.25.1.7:9000 check port 9000 inter 2s rise 2 fall 3
  server minio-n04 172.25.1.8:9000 check port 9000 inter 2s rise 2 fall 3
  
