@model TradeUnionCommittee.ViewModels.ViewModels.Employee.CreateSocialActivityEmployeesViewModel
@{
    ViewData["Title"] = "Create";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Додати громадську посаду</h1>
                </div>
            </div>
            <hr>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="HashIdEmployee" />

                <div class="row">

                    <div class="form-group col-lg-12 col-xl-6">
                        <label asp-for="HashIdSocialActivity" class="control-label required">Громадська посада</label><br>
                        <select asp-for="HashIdSocialActivity" asp-items="@ViewBag.SocialActivity" class="custom-select"></select>
                        <span asp-validation-for="HashIdSocialActivity" class="text-danger"></span>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-lg-12">
                        <label asp-for="Note">Примітка</label>
                        <textarea asp-for="Note" class="form-control" rows="6"></textarea>
                    </div>

                </div>

                <div class="row justify-content-between">
                    <div class="form-group col-lg-3">
                        <div>
                            <a asp-action="Index" asp-route-id="@Model.HashIdEmployee">Повернутися</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="submit" value="Додати" class="btn btn-success btn-default" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

@if (TempData["ErrorsList"] != null)
{
    await Html.RenderPartialAsync("_Errors", TempData["ErrorsList"]);
}