
@{
    ViewData["Title"] = "ResultSearch";
}

<div class="list_block container-fluid">
    <div class="row align-items-center">
        <div class="col-lg-8 col-xl-9">
            <h2 class="top">Результат пошуку</h2>
        </div>
    </div>
		
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th>ПІБ</th>
            <th>Дата народження</th>
            <th>Мобільний номер</th>
            <th>Міский номер</th>
            <th>Структурний підрозділ</th>
            <th>Кафедра</th>
            <th>Деталі</th>
        </tr>
        </thead>
        <tr>
            <td>Іванов Іван Іванович</td>
            <td>01.01.1970</td>
            <td>+38(050)777-77-77</td>
            <td>777-77-77</td>
            <td>Факультет математики, фізики і інформаційних технологій</td>
            <td>Кафедра математичного забезпечення комп’ютерних систем</td>
            <td>
                <a>Переглянути картку</a>
            </td>
        </tr>
        <tr>
            <td>Іванов Іван Іванович</td>
            <td>01.01.1970</td>
            <td>+38(050)777-77-77</td>
            <td>777-77-77</td>
            <td>Факультет математики, фізики і інформаційних технологій</td>
            <td>Кафедра математичного забезпечення комп’ютерних систем</td>
            <td>
                <a>Переглянути картку</a>
            </td>
        </tr>
        <tr>
            <td>Іванов Іван Іванович</td>
            <td>01.01.1970</td>
            <td>+38(050)777-77-77</td>
            <td>777-77-77</td>
            <td>Факультет математики, фізики і інформаційних технологій</td>
            <td>Кафедра математичного забезпечення комп’ютерних систем</td>
            <td>
                <a>Переглянути картку</a>
            </td>
        </tr>
        <tr>
            <td>Іванов Іван Іванович</td>
            <td>01.01.1970</td>
            <td>+38(050)777-77-77</td>
            <td>777-77-77</td>
            <td>Факультет математики, фізики і інформаційних технологій</td>
            <td>Кафедра математичного забезпечення комп’ютерних систем</td>
            <td>
                <a>Переглянути картку</a>
            </td>
        </tr>
        <tr>
            <td>Іванов Іван Іванович</td>
            <td>01.01.1970</td>
            <td>+38(050)777-77-77</td>
            <td>777-77-77</td>
            <td>Факультет математики, фізики і інформаційних технологій</td>
            <td>Кафедра математичного забезпечення комп’ютерних систем</td>
            <td>
                <a>Переглянути картку</a>
            </td>
        </tr>
    </table>
		
</div>