@model TradeUnionCommittee.ViewModels.ViewModels.Employee.UpdatePublicHouseEmployeesViewModel
@{
    
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Редагування гуртожитку</h1>
                </div>
            </div>
            <hr>
            @if (TempData["ErrorsList"] == null)
            {
                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="HashId" />
                    <input type="hidden" asp-for="HashIdEmployee" />
                    <input type="hidden" asp-for="RowVersion" />

                    <div class="row">

                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="HashIdAddressPublicHouse" class="control-label required">Номер гуртожитку</label>
                            <select asp-for="HashIdAddressPublicHouse" asp-items="@ViewBag.Dormirtory" class="custom-select"></select>
                            <span asp-validation-for="HashIdAddressPublicHouse" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="NumberRoom">Номер кімнати</label>
                            <input asp-for="NumberRoom" type="text" class="form-control">
                            <span asp-validation-for="NumberRoom" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row justify-content-between">
                        <div class="form-group col-lg-3">
                            <div>
                                <a asp-action="Index" asp-route-id="@Model.HashIdEmployee">Повернутися</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                        </div>
                    </div>

                </form>
            }
            else
            {
                await Html.RenderPartialAsync("_Errors", TempData["ErrorsList"]);
            }
        </div>
    </div>
</section>

@if (TempData["ErrorsListConfirmed"] != null)
{
    await Html.RenderPartialAsync("_Errors", TempData["ErrorsListConfirmed"]);
}