
@{
    ViewData["Title"] = "Index";
}

<section class="add-user container-fluid">
<div class="row justify-content-center">
<div class="col-md-12 add-user_block">


<ul class="nav nav-tabs">
					
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index">Головна</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Житло</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Приватне житло</a>
            <a class="dropdown-item" href="#">Надане університетом</a>
            <a class="dropdown-item" href="#">Відомче житло</a>
            <a class="dropdown-item" href="#">Гуртожиток</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Посади та Пiльги</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="main-position.html">Основна посада</a>
            <a class="dropdown-item" href="main-social.html">Громадська посада</a>
            <a class="dropdown-item" href="aid-position.html">Пiльга</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Заохочення</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Премiї</a>
            <a class="dropdown-item" href="#">Матерiальнi допомоги</a>
							
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Заходи та хобi</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Поїздки</a>
            <a class="dropdown-item" href="#">Оздоровлення</a>
            <a class="dropdown-item" href="#">Путівки</a>
            <a class="dropdown-item" href="#">Заходи</a>
            <a class="dropdown-item" href="#">Культурно-просвітницькі заклади</a>
            <a class="dropdown-item" href="#">Подарунки</a>
            <a class="dropdown-item" href="#">Хобi</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Додаткова інформація</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Флюрографічні обстеження</a>
            <a class="dropdown-item" href="#">Квартирний облік</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Сім'я</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Члени ciмї</a>
            <a class="dropdown-item" href="#">Дiти</a>
            <a class="dropdown-item" href="#">Онуки</a>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="reports.html">Звiти</a>
    </li>
</ul>
    
    

<div class="row align-items-center mt-3">
    <div class="col-md-10">
        <h2>Головна</h2>
        <small class="text-muted"><i class="fas fa-user"></i> Дані про члена профспілки</small>
    </div>
</div>
<hr>
<form class="">
    <div class="row">
        <div class="form-group col-md-4">
            <label>Прiзвище</label>
            <input type="text" name="surname" class="form-control" placeholder="Іванов">
        </div>
        <div class="form-group col-md-4">
            <label>Iм'я</label>
            <input type="text" name="name" class="form-control" placeholder="Іван">
        </div>

        <div class="form-group col-md-4">
            <label>По батьковi</label>
            <input type="text" name="middle-name" class="form-control" placeholder="Іванович">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label>Стать</label>
            <div class="">
                <label class="custom-control custom-radio">
                    <input id="male" name="gender" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Чоловіча</span>
                </label>
                <label class="custom-control custom-radio">
                    <input id="female" name="gender" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Жіноча</span>
                </label>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="form-group col-md-4">
            <label>Дата народження</label>
            <input type="date" class="form-control" name="ident-code">
        </div>

        <div class="form-group col-md-2">
            <label>Вiк</label>
            <input type="text" name="name" class="form-control" placeholder="35" readonly>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label>Iдентифiкацiйний код</label>
            <input type="text" class="form-control" name="ident-code" placeholder="111111111111">
        </div>

        <div class="form-group col-md-4">
            <label>MECHNIKOV TEACHER CARD</label>
            <input type="text" class="form-control" name="ident-code" placeholder="111111111111">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6 col-xl-4">
            <label>Мобiльний номер</label>
            <input type="text" name="mobile-phone" class="form-control" placeholder="+38 (000) 000-00-00">
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label>Мicкий номер</label>
            <input type="text" name="home-phone" class="form-control" placeholder="000-00-0">
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label>Мicкий номер</label>
            <input type="text" name="home-phone" class="form-control" placeholder="000-00-00">
        </div>
    </div>

    <hr>

    <fieldset class="form-group">
        <legend>Робота в ОНУ</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Основна професiя</label>
                <input type="text" name="main-proff" class="form-control" placeholder="Математик, програміст">
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рiк початку роботи в ОНУ</label>
                <input type="date" name="work-date-start" class="form-control">
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рiк завершення роботи в ОНУ</label>
                <input type="date" style="flex-direction: row" name="" class="form-control">
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Робота в ППО</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Дата вступу в ППО</label>
                <input type="date" name="work-date-start" class="form-control">
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Дата виходу з ППО</label>
                <input type="date" style="flex-direction: row" name="" class="form-control">
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Освіта</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рівень освіти</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Місце навцання</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рiк отримання</label>
                <input style="flex-direction: row" name="" class="form-control">
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Кваліфікація</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Учений ступінь</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Наукове звання</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Примiтка</legend>
        <div class="row">
            <div class="form-group col-lg-12">
                <textarea class="form-control" rows="6"></textarea>
            </div>
        </div>
    </fieldset>

    <div class="row justify-content-end">
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-success"><i class="fas fa-edit"></i>Редагувати</a>
            <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Видалити члена профспілки</a>
        </div>
    </div>

</form>
				
				
</div>
</div>
		
</section>
@{
    ViewData["Title"] = "Index";
}

<section class="add-user container-fluid">
<div class="row justify-content-center">
<div class="col-md-8 add-user_block">
<ul class="nav nav-tabs">
					
    <li class="nav-item">
        <a class="nav-link active" href="edit.html">Головна</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Житло</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Приватне житло</a>
            <a class="dropdown-item" href="#">Надане університетом</a>
            <a class="dropdown-item" href="#">Відомче житло</a>
            <a class="dropdown-item" href="#">Гуртожиток</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Посади та Пiльги</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="main-position.html">Основна посада</a>
            <a class="dropdown-item" href="main-social.html">Громадська посада</a>
            <a class="dropdown-item" href="aid-position.html">Пiльга</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Заохочення</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Премiї</a>
            <a class="dropdown-item" href="#">Матерiальнi допомоги</a>
							
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Заходи та хобi</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Поїздки</a>
            <a class="dropdown-item" href="#">Оздоровлення</a>
            <a class="dropdown-item" href="#">Путівки</a>
            <a class="dropdown-item" href="#">Заходи</a>
            <a class="dropdown-item" href="#">Культурно-просвітницькі заклади</a>
            <a class="dropdown-item" href="#">Подарунки</a>
            <a class="dropdown-item" href="#">Хобi</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Додаткова інформація</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Флюрографічні обстеження</a>
            <a class="dropdown-item" href="#">Квартирний облік</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Сім'я</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Члени ciмї</a>
            <a class="dropdown-item" href="#">Дiти</a>
            <a class="dropdown-item" href="#">Онуки</a>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="reports.html">Звiти</a>
    </li>
</ul>
<div class="row align-items-center mt-3">
    <div class="col-md-10">
        <h2>Головна</h2>
        <small class="text-muted"><i class="fas fa-user"></i> Дані про члена профспілки</small>
    </div>
</div>
<hr>
<form class="">
    <div class="row">
        <div class="form-group col-md-4">
            <label>Прiзвище</label>
            <input type="text" name="surname" class="form-control" placeholder="Іванов">
        </div>
        <div class="form-group col-md-4">
            <label>Iм'я</label>
            <input type="text" name="name" class="form-control" placeholder="Іван">
        </div>

        <div class="form-group col-md-4">
            <label>По батьковi</label>
            <input type="text" name="middle-name" class="form-control" placeholder="Іванович">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label>Стать</label>
            <div class="">
                <label class="custom-control custom-radio">
                    <input id="male" name="gender" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Чоловіча</span>
                </label>
                <label class="custom-control custom-radio">
                    <input id="female" name="gender" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Жіноча</span>
                </label>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="form-group col-md-4">
            <label>Дата народження</label>
            <input type="date" class="form-control" name="ident-code">
        </div>

        <div class="form-group col-md-2">
            <label>Вiк</label>
            <input type="text" name="name" class="form-control" placeholder="35" readonly>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label>Iдентифiкацiйний код</label>
            <input type="text" class="form-control" name="ident-code" placeholder="111111111111">
        </div>

        <div class="form-group col-md-4">
            <label>MECHNIKOV TEACHER CARD</label>
            <input type="text" class="form-control" name="ident-code" placeholder="111111111111">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-6 col-xl-4">
            <label>Мобiльний номер</label>
            <input type="text" name="mobile-phone" class="form-control" placeholder="+38 (000) 000-00-00">
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label>Мicкий номер</label>
            <input type="text" name="home-phone" class="form-control" placeholder="000-00-0">
        </div>
        <div class="form-group col-lg-6 col-xl-4">
            <label>Мicкий номер</label>
            <input type="text" name="home-phone" class="form-control" placeholder="000-00-00">
        </div>
    </div>

    <hr>

    <fieldset class="form-group">
        <legend>Робота в ОНУ</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Основна професiя</label>
                <input type="text" name="main-proff" class="form-control" placeholder="Математик, програміст">
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рiк початку роботи в ОНУ</label>
                <input type="date" name="work-date-start" class="form-control">
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рiк завершення роботи в ОНУ</label>
                <input type="date" style="flex-direction: row" name="" class="form-control">
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Робота в ППО</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Дата вступу в ППО</label>
                <input type="date" name="work-date-start" class="form-control">
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Дата виходу з ППО</label>
                <input type="date" style="flex-direction: row" name="" class="form-control">
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Освіта</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рівень освіти</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Місце навцання</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Рiк отримання</label>
                <input style="flex-direction: row" name="" class="form-control">
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Кваліфікація</legend>
        <div class="row">
            <div class="form-group col-lg-6 col-xl-4">
                <label>Учений ступінь</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
            <div class="form-group col-lg-6 col-xl-4">
                <label>Наукове звання</label>
                <select type="text" name="mobile-phone" class="form-control"></select>
            </div>
        </div>
    </fieldset>

    <hr>

    <fieldset class="form-group">
        <legend>Примiтка</legend>
        <div class="row">
            <div class="form-group col-lg-12">
                <textarea class="form-control" rows="6"></textarea>
            </div>
        </div>
    </fieldset>

    <div class="row justify-content-end">
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-success"><i class="fas fa-edit"></i>Редагувати</a>
            <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Видалити члена профспілки</a>
        </div>
    </div>

</form>
				
				
</div>
</div>
		
</section>