@model TradeUnionCommittee.Common.ActualResults.ActualResult<IEnumerable<TradeUnionCommittee.BLL.DTO.AccountDTO>>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    
    <hr />
    <div class="form-group">
        <a asp-action="Create" class="btn btn-success">Додати користувача</a>
    </div>
</div>

<div class="row main-block">

    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Роль доступу
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Result)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>

                <td class="text-right">
            <a asp-action="Update" asp-route-id="@item.IdUser">Редагувати</a> |
            <a asp-action="Delete" asp-route-id="@item.IdUser">Видалити</a>
        </td>
            </tr>
        }
        </tbody>
    </table>

</div>