@using TradeUnionCommittee.Web.GUI.Models
@model AccountViewModel
@{
    ViewData["Title"] = "UpdatePassword";
}

<div class="row">
    <div class="col-md-12">

        <h2>Редагування</h2>

        <form asp-action="UpdatePassword">
            <div class="form">
                <h4>Паролю користувача</h4>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <input type="hidden" asp-for="IdUser"/>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label asp-for="Password" class="info-label">Пароль</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label asp-for="ConfirmPassword" class="info-label">Підтвердження паролю</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3 text-right">
                        <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                    </div>
                </div>

            </div>
        </form>

        <div>
            <a asp-action="Index">Повернутися до списку користувачів</a>
        </div>
    </div>

</div>