@model TradeUnionCommittee.Web.GUI.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-12">

        <h2>Редагування</h2>

        <form asp-action="Update">
            <div class="form">
                <h4>Користувача</h4>
                <hr />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label asp-for="Email" class="info-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label asp-for="IdRole" class="info-label">Роль доступу</label>
                        <select asp-for="IdRole" asp-items="@ViewBag.Role" class="custom-select"></select>
                        <span asp-validation-for="IdRole" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3 text-right">
                        <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                    </div>
                </div>

            </div>
        </form>

        <div>
            <a asp-action="Index">Повернутися до списку користувачів</a>
        </div>
    </div>

</div>

