@model TradeUnionCommittee.ViewModels.ViewModels.UpdatePasswordAccountViewModel
@{
    
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">
            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h2>Редагування паролю</h2>
                </div>
            </div>
            <hr>
            @if (TempData["ErrorsList"] == null)
            {
                <form asp-action="UpdatePassword">
                    <div class="row">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="HashId" />

                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="OldPassword" class="info-label">Старий пароль</label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="Password" class="info-label">Новий пароль</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="ConfirmPassword" class="info-label">Підтвердження нового паролю</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row justify-content-between">
                        <div class="form-group col-lg-3">
                            <div>
                                <a asp-action="Index">Повернутися</a>
                            </div>
                        </div>

                        <div class="col-md-6 text-right">
                            <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                        </div>
                    </div>
                </form>
            }
            else
            {
                await Html.RenderPartialAsync("_Errors", TempData["ErrorsList"]);
            }
        </div>
    </div>
</section>

@if (TempData["ErrorsListConfirmed"] != null)
{
    await Html.RenderPartialAsync("_Errors", TempData["ErrorsListConfirmed"]);
}