@model TradeUnionCommittee.ViewModels.ViewModels.CreateFluorographyEmployeesViewModel
@{
    ViewData["Title"] = "Create";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Додати обстеження</h1>
                </div>
            </div>
            <hr>
            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="HashIdEmployee" />

                <div class="row">

                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="PlacePassing" class="control-label required">Місце проходження</label><br>
                        <input type="text" asp-for="PlacePassing" class="form-control">
                        <span asp-validation-for="PlacePassing" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="Result" class="control-label required">Результат</label><br>
                        <select asp-for="Result" class="custom-select">
                            <option value="Норма">Норма</option>
                            <option value="Відхилення">Відхилення</option>
                        </select>
                        <span asp-validation-for="Result" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-4 col-xl-4">
                        <label asp-for="DatePassage" class="control-label required">Дата обстеження</label>
                        <input asp-for="DatePassage" value="" type="date" class="form-control">
                        <span asp-validation-for="DatePassage" class="text-danger"></span>
                    </div>

                </div>

                <div class="row justify-content-between">
                    <div class="form-group col-lg-3">
                        <div>
                            <a asp-action="Index" asp-route-id="@Model.HashIdEmployee">Повернутися</a>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <input type="submit" value="Додати" class="btn btn-success btn-default" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

@if (TempData["ErrorsList"] != null)
{
    await Html.RenderPartialAsync("_Errors", TempData["ErrorsList"]);
}