@model TradeUnionCommittee.ViewModels.ViewModels.Children.UpdateChildrenViewModel
@{
    ViewData["Title"] = "Update";
}

<section class="add-user container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 add-user_block">

            <div class="row align-items-center mt-3">
                <div class="col-md-10">
                    <h1>Редагування дитини</h1>
                </div>
            </div>
            <hr>
            @if (TempData["ErrorsList"] == null)
            {
                <form asp-action="Update">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="HashId" />
                    <input type="hidden" asp-for="HashIdEmployee" />
                    <input type="hidden" asp-for="RowVersion" />

                    <div class="row">
                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="FirstName">Прізвище</label>
                            <input asp-for="FirstName" type="text" class="form-control">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="SecondName">Ім'я</label>
                            <input asp-for="SecondName" type="text" class="form-control">
                            <span asp-validation-for="SecondName" class="text-danger"></span>
                        </div>

                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="Patronymic">По батькові</label>
                            <input asp-for="Patronymic" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-4 col-xl-4">
                            <label asp-for="BirthDate" class="control-label required">Дата народження</label>
                            <input asp-for="BirthDate" type="date" class="form-control">
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <div class="form-group col-lg-3">
                            <div>
                                <a asp-action="Index" asp-route-id="@Model.HashIdEmployee">Повернутися</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <input type="submit" value="Зберегти" class="btn btn-success btn-default" />
                        </div>
                    </div>

                </form>
            }
            else
            {
                await Html.RenderPartialAsync("_Errors", TempData["ErrorsList"]);
            }
        </div>
    </div>
</section>

@if (TempData["ErrorsListConfirmed"] != null)
{
    await Html.RenderPartialAsync("_Errors", TempData["ErrorsListConfirmed"]);
}