@import url("https://fonts.googleapis.com/css?family=Roboto");


body {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#accbee), to(#e7f0fd));
    background-image: -webkit-linear-gradient(bottom, #accbee 0%, #e7f0fd 100%);
    background-image: -o-linear-gradient(bottom, #accbee 0%, #e7f0fd 100%);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    min-height: 97vh;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select 
{
    max-width: 261px;
    max-height: 30px;
}*/

.carousel-inner > .item 
{
    overflow: hidden;
    height: 525px;
}

/* Carousel */
/* Make .svg files in the carousel display properly in older browsers */
/* Hide/rearrange for smaller screens  767*/
@media screen and (max-width: 767px) 
{
    /* Hide captions */
    .carousel-caption 
    {
        display: none;
    }
}

.admin-panel-list 
{
    list-style: none;
    display: block;
    position: relative;
    width: 1050px;
    vertical-align: middle;
}

.admin-panel-list li 
{
    width: 300px;
    height: 170px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 27px 22px;
    transition: 0.12s all ease-out;
}

.admin-panel-list li:hover a:before 
{
    opacity: 0.7;
}

.admin-panel-list li a:before 
{
    transition: 0.12s all ease-out;
    content: "";
    height: 100%;
    display: block;
    background-position: center center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.admin-panel-list li a:before 
{
    background-image: url(../images/directory.png);
}

input[type="date"] {
    height: 38px;
}

nav {
    font-size: 21px;
}

.nav-link {
    padding: 15px;
}

.back-link 
{
    padding-left: 10px;
}

.admin-panel-list li a 
{
    color: black;
    font-size: 21px;
    font-family: Segoe UI Light;
    display: block;
    height: 100%;
}

.admin-panel-list li a:hover 
{
    text-decoration: none;
}

.info-label 
{
    font-size: 16px;
    font-weight: 400;
}

.navbar-nav > li > a 
{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Segoe UI Light';
    text-transform: uppercase;
}


@media screen and (max-width: 1080px) 
{
    .navbar-nav > li > a 
    {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .nav > li > a 
    {
        font-size: 20px !important;
    }
}

.navbar-inverse 
{
    background-color: rgba(255, 255, 255, 0.71);
    border-color: rgba(186, 186, 186, 0.75);
}

/*---------------------------------------------*/

label.required:after 
{
    color: red;
    content: " *";
}

legend.required:after 
{
    color: red;
    content: " *";
}

textarea 
{
    resize: none
}

body h2 
{
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

body table tr:hover 
{
    background-color: #eceeef;
}

body table tr td:hover 
{
    background-color: #e4e4e4;
}

body div.add-user_block 
{
    display: block;
    width: 100%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 23px 0;
    padding: 25px 30px;
    background-color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 9px 2px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 9px 2px;
}

body div.add-user_block label, body div.add-user_block legend 
{
    font-family: 'Roboto', sans-serif;
}

.invisible 
{
    display: none;
}